<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ _('home_title') }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <h1>{{ _('home_header') }}</h1>

    {% if g.user %}
      <p>{{ _('logged_in_as', username=g.user['name']) }}</p>
    {% else %}
      <p>{{ _('not_logged_in') }}</p>
    {% endif %}

    <!-- Tests:
      - http://127.0.0.1:5000/?locale=fr
      - http://127.0.0.1:5000/?login_as=2
      - http://127.0.0.1:5000/?locale=fr&login_as=1
    -->
  </body>
</html>
